.archive .collection-title {
  display: none !important;
}
.posts-expand .post-title {
  font-size: $font-size-largest;
  font-weight: bold;
}
.site-meta {
  .site-title {
      font-size: 250%;
  }
}